<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=test"></script>
<script type="text/javascript">
var map = new BMap.Map("map-canvas");
var point = new BMap.Point(116.404, 39.915);
map.centerAndZoom(point, 15);
</script>